

.todolist-app {
	display: flex;
	flex: 1;
	overflow: hidden;
	background: rgba(255, 255, 255, .75);
}

.todolist-type-mod {
	display: flex;
	flex-direction: column;
	width: 260px;
	height: 100%;
	position: relative;
	backdrop-filter: blur(5px);

	h1 {
		font-size: 16px;
		color: #666;
		padding: 10px 1rem;

		button {
			float: right;
			fill: #666;
		}

		p {
			display: inline-block;
		}
	}

	ul {
		flex: 1;
		overflow: auto;
	}

	/* 侧边计划列表 */
	li {
		font-size: 1.2em;
		line-height: 2.4rem;
		padding: 0 1rem;
		box-sizing: border-box;

		&:hover {
			background: rgba(238, 238, 238, .6);
		}

		&.current {
			color: #fff;
			background: #f65f54;
		}

		& > input {
			background: transparent;
			width: 100%;
			border: none;
			outline: none;
			color: #fff;
		}

		& > span {
			pointer-events: none;
		}
	}
}

.fixed-calendar-mod {
	border-top: 1px solid rgba(255, 255, 255, .1);
}

.todolist-events-mod {
	display: flex;
	flex-direction: column;
	flex: 1;
	background: #fff;
}

.todoEvents-day-header {
	display: flex;
	height: 42px;
	margin: 8px 10px 0 10px;
	padding: 0 0 10px;
	border-bottom: 1px solid #eee;
	color: #f44336;
	user-select: none;
	cursor: default;
}
.todoEvt-headerDay-inner {
	display: flex;
	flex: 9;
	
	& .title {
		width: 100%;
		height: 100%;
		padding: 0 5px 0 0;
		font-size: 2rem;
		color: inherit;
		line-height: 3.5rem;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		outline: none;
		border: none;
		background: transparent;

		&.search {
			font-size: 24px;
			padding: 8px 0;
		}

		&.day {
			text-align: right;
			width: 40px;
		}
	}
}
.hd-btns-box {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: flex-end;

	& .tbtn {
		font-size: 18px;
		line-height: 18px;

		& path {
			fill: #aaa;
			transition: fill .3s ease;
		}
		
		&:hover path {
			fill: #333;
		}
	}
}



.todo-list-box {
	flex: 1;
	overflow: auto;
	position: relative;
}


.no-work-plane {
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
	color: #999;
	flex-direction: column;

	position: absolute;
}
.no-work-plane.show {
	visibility: visible;
}
.no-work-plane.fadeOut {
	opacity: 0;
	visibility: hidden;
	transform: translateY(-100px);
	transition: visibility .4s ease, transform .4s ease, opacity .4s ease;
}
.no-work-plane h3 {
	font-size: 14px;
	transform: translateY(-60px);
	
	& .remid-msg {
		transform: translateY(-50px);
	}
}

.todo-list-box li .title-box {
	flex: 1;
	display: flex;
	flex-direction: column;
	font-size: 12px;
}
.todo-list-box li .title {
	flex: 1;
	padding: 0;
	margin: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	border: none;
	outline: none;
	background-color: transparent;
}
.todo-list-box li .title-help-info {
	height: 14px;
	color: #a0a0a0;
	padding-bottom: 5px;
	margin-top: -6px;
	font-size: 10px;
	visibility: visible;
	opacity: 1;
	transition: height .3s ease, visibility .3s ease, opacity .3s ease;
}
.todo-list-box li .title-help-info.hide {
	height: 0;
	opacity: 0;
	visibility: hidden;
}
.todo-list-box li .title-help-info span:not(:empty) {
	margin-right: 10px;
}
.todo-list-box li .title:focus {
	outline: none;
}
.todo-list-box li .li-btns-box {
	width: 40px;
	text-align: center;
}

.tbtn.arrow-ico:after {
	color: #aaa;
}

.add-todo-event {
	transition: transform .3s ease;
}
.add-todo-event svg {
	pointer-events: none;
}
.add-todo-event.clear-search {
	transform: rotateZ(45deg);
}


/* 浮动时间组件 */
.fixed-date-mod {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 400;
	overflow: hidden;
	background-color: rgba(0,0,0,.2);

}
/*浮动时间选择组件动画*/
.fade-fixed-date-enter-active,
.fade-fixed-date-leave-active {
	transition: opacity .3s ease;

	.fixed-date-inner,
	.fixed-date-inner {
		transform-origin: top left;
		transition: transform .3s ease, opacity .3s ease;
	}

}
.fade-fixed-date-enter,
.fade-fixed-date-leave-to {
	opacity: 0;

	.fixed-date-inner,
	.fixed-date-inner {
		transform: translateY(20px);
	}
}

.fixed-date-inner {
	position: absolute;
	top: -300px;
	left: 290px;
	width: 230px;
	min-height: 200px;
	border-radius: 2px;
	backdrop-filter: blur(10px);
	background: rgba(255, 255, 255, .9);
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}


.todolist-order-mod {
	display: flex;
	flex-direction: column;
	flex: 1;
	max-width: 260px;
	background: rgba(255, 255, 255, .6);
	
}

.order-mod {
	flex: 1;
	overflow: auto;

	li {
		&.current {
			background: #f65f54;
		}

		div.content {
			margin: 0 0 0 .7rem;
			border-bottom: 1px solid rgba(0,0,0,.05);
		}

		.inner {
			padding: .8rem .8rem .8rem .4rem;
			overflow: hidden;
		
			h4 {
				min-height: 20px;
				font-size: 1.17rem;
				color: #333;
				font-weight: 400;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
		
			p {
				font-size: 1rem;
				color: #666;
			}

		} 

		& .label-box {
			float: left;
			width: 16px;
			padding: 1rem 0;
			vertical-align: top;
		}

		& label {
			display: flex;
			width: 16px;
			height: 16px;
			text-align: center;
			justify-content: center;
			align-items: center;

			& .is-done {
				-webkit-appearance: none;
				width: 14px;
				height: 14px;
				border: 1px solid #f44336;
				border-radius: 100%;
				position: relative;
				outline: none;
				
				&::after {
					content: '';
					display: block;
					width: 10px;
					height: 10px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate3d(-50%,-50%,0);
					background-color: transparent;
					border-radius: 100%;
					transition: background-color .3s ease;
				}
				&:checked::after {
					background-color: #f44336;
				}
			}
		}

		&.current {

			.inner {
				h4 {
					color: #fff;
				}

				p {
					color: rgba(255, 255, 255, .8);
				}
			}

			label {
				& .is-done {
					border-color: rgba(255, 255, 255, .8);

					&:checked::after {
						background-color: rgba(255, 255, 255, .8);
					}
				}
			}
		}
	}
}

/* 事件具体操作区 */
.todoEvent-setting-box {
	display: flex;
	height: 100%;
	flex-direction: column;
	padding: 1rem;
	box-sizing: border-box;


}

/* 事件详情 */
.event-make-col {
	display: flex;

	& dt,
	& dd {
		display: inline-block;
		line-height: 20px;
	}
	/* 标题 */
	& dt {
		margin: 0 5px 0 0;
	}
	/* 内容 */
	& dd {
		color: #333;
		flex: 1;
	}


	&:last-child {
		flex: 1;
		flex-direction: column;

		.inner-box {
			flex: 1;

			textarea {
				outline: none;
				border: 0;
				color: #333;
				font: inherit;
				width: 100%;
				height: 100%;
				resize: none;
				line-height: 22px;
				background-color: transparent;
			}
		}
	}	
}