
.login-box {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 500px;
	height: 400px;
	transform: translate(-50%, -50%);
	z-index: 100;

	figure {
		width: 80px;
		height: 80px;
		margin: 10px auto 0;

		svg {
			width: 100%;
			fill: rgba(255, 255, 255, .5);
		}
	}
}

.logo-error {
	opacity: 1;
	font-size: 12px;
	text-align: center;
	color: white;
	padding: 10px 10px 0;
	transform: opacity .3s ease;
}

.logo-form input {
	display: block;
	width: 85%;
	margin: 1.4em auto 0;
	font-size: 16px;
	line-height: 2.4em;
	color: #FFF;
	text-align: center;
	border: none;
	border-bottom: 2px solid rgba(255, 255, 255, .1);
	background: rgba(255, 255, 255, .05);
	outline: none;
	transition: color .3s ease, border .3s ease;

	&::placeholder {
		color: #fff;
	}

	&:focus {
		border-bottom-color: rgba(255, 255, 255, .5);
	}
}

.logo-form button {
	display: block;
	width: 85%;
	margin: 25px auto 0;
	font-size: 18px;
	line-height: 2.2em;
	color: #fff;
	border: none;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, .1);
	cursor: pointer;
	outline: none;
	transition: background-color .3s ease;

	&:hover {
		background-color: rgba(255, 255, 255, .2);
	}

	&[disabled] {
		background-color: rgba(255, 255, 255, .1);
		color: rgba(255, 255, 255, .2);
		pointer-events: none;
	}
}

.apply-account-link {
	position: fixed;
	top: 10px;
	right: 10px;

	a {
		color: #fff;
		font-size: 1.167rem;
	}
}