@charset 'utf-8';

/*  
	VDatePicker Css                   
	-----------------------------------
	@version 0.0.1
	@author: ektx <530675800@qq.com>

*/

.vdate-picker-box {
	font-size: 0;
	padding: 3px;
}
.vdate-picker-box ul:first-child {
	font-weight: bold;
}

.vdate-picker-body li {
	display: inline-block;
	width: 14.28%;
	height: 24px;
	text-align: center;
	font-size: 10px;
	color: #333;
	vertical-align: middle;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
}

.vdate-picker-body li span {
	display: inline-block;
	width: 1.6em;
	height: 1.6em;
	line-height: 1.6em;
	border-radius: 100%;
	transition: background-color .3s ease;
}
.vdate-picker-body li span:empty {
	font-size: 0;
}
.vdate-picker-body li.event span {
	color: rgba(244, 67, 54, 1);
	font-weight: bold;
}
.vdate-picker-body li.today span {
	background-color: #333;
	color: #fff;
}
.vdate-picker-body li.current span {
	background-color: rgba(244, 67, 54, 1);
	color: #fff;
}

.vdate-picker-control {
	font-size: 14px;
	display: flex;
	margin: 5px 0;
}
.vdate-picker-control,
.vdate-picker-control .tbtn {
	color: #333;
}
.vdate-picker-control p {
	flex: 1;
	text-align: center;
	cursor: default;
	-webkit-user-select: none;
	user-select: none;
	position: relative;
}
.vdate-picker-control p .back-btn {
	position: absolute;
	left: 0;
}

.vadate-picker-topbar-time {
	cursor: pointer;
	transition: color .4s ease;
}
.vadate-picker-topbar-time:hover {
	color: #f44336
}
.vdate-picker-btns {
	padding: 3px 0 0;
	font-size: 0;
    border-top: 1px solid #ddd;
}
.vdate-picker-btns button {
    display: inline-block;
    font-size: 12px;
    color: #333;
    width: 50%;
    border: none;
    outline: none;
    line-height: 26px;
    background: transparent;
    cursor: pointer;
	transition: background .3s ease, color .3s ease;
}
.vdate-picker-btns button:hover {
	background: #f5f5f5;
	color: #f65f54;
}
