@charset 'utf-8';

.app-content {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;

	& > header {
		display: flex;
		position: absolute;
		top: 0;
		left: 0;
		height: 40px;
		width: 100%;
		padding: 0 1rem;
		box-sizing: border-box;
		background: rgba(255, 255, 255, .85);
		backdrop-filter: blur(5px);
		z-index: 10000;
	}
}

.app-nav-mod {
	flex: 1;
	align-items: center;

	a {
		display: inline-block;
		height: 100%;
		padding: 0 .8em;
		color: #333;
		font-size: 1.2rem;
		line-height: 40px;
		vertical-align: top;

		&.logo-btn {
			display: inline-block;
			width: 18px;
			line-height: 45px;
			
			& > svg {
				width: 18px;
				fill: #f44336;
			}
		}

		&:hover {
			background: #ddd;
		}

		&.router-link-active {
			color: #f44336
		}
	}
}
.app-body-mod {
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	display: flex;
	padding: 40px 0 0;
}

/* 右侧用户信息 */
.header-side-box {
	float: right;
	font-size: 1.2rem;
	line-height: 40px;
	color: #333;
}
.header-nav-box {
	position: relative;

	&.closeBox{

		&:before {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: transparent;
			z-index: 1;
			content: '';
			display: block;
		}

		header {
			background: rgba(255, 255, 255, .5);
		}
	}

	header {
		position: relative;
		z-index: 2;
		padding: 0 .5rem;
		user-select: none;
		cursor: pointer;
	}

	ul {
		position: absolute;
		right: 0;
		top: 100%;
		z-index: 1000;
		min-width: 70px;
		padding: 2px 0;
		background: rgba(255, 255, 255, .85);
		white-space: nowrap;
		border-radius: 0 0 3px 3px;
		box-shadow: 1px 2px 4px rgba(0,0,0,.1);

		li {
			min-width: 100px;
			max-width: 150px;
			padding: 3px 5px;
			line-height: 2rem;
			text-overflow: ellipsis;
			overflow: hidden;
			cursor: pointer;

			&:hover {
				background: #ddd;
			}
		}
	}

}