@charset 'utf-8';


form input,
form button {
	-webkit-app-region: no-drag;
}

#close-btn {
	width: 12px;
	height: 12px;
	border-radius: 100%;
	border: 1px solid #F44336;
	background-color: #FF5722;
	position: fixed;
	top: 8px;
	left: 8px;
	z-index: 100;
	outline: none;
	cursor: pointer;
}
#close-btn:hover {
	background-color: #e91312;
}

.data-day-ico {
	width: 38px;
	height: 38px;
	margin: 0 auto;
	color: #f65f54;
	font-size: 18px;
	line-height: 36px;
	text-align: center;
	border-radius: 100%;
	border: 1px solid;
	box-sizing: border-box;
	overflow: hidden;
	cursor: default;
}


/* 文字按钮 圆形 */
.tbtn {
	width: 1.4em;
	height: 1.4em;
	line-height: 1.4em;
	outline: none;
	border: none;
	border-radius: 100%;
	background-color: transparent;
	transition: background-color .3s ease;
	cursor: pointer;
}
.tbtn:hover {
	background-color: rgba(0, 0, 0, .1);
}
.tbtn:active {
	background-color: rgba(0, 0, 0, .2);
	transition: background-color .1s ease;
}


/* arrow */
.arrow-ico {
	font-size: 10px;
	height: 1.4em;
	width: 1.4em;
	position: relative;
}
.arrow-ico:after {
	content: '';
	width: .7em;
	height: .7em;
	border: .1em solid;
	border-top: none;
	border-right: none;
	position: absolute;
	top: 50%;
	left: 50%;
	box-sizing: border-box;
}

/* ↓ */
.down-arrow {
	transform: rotateZ(-45deg);
}
.down-arrow:after {
	transform: translateX(-35%) translateY(-60%);
}

/* 时间选择功能 */
.date-select-ui {
	display: inline-block;
	height: 20px;
	font-size: 0;
	box-sizing: border-box;
	cursor: pointer;
    border-bottom: 1px solid transparent;
}
.date-select-ui li {
	font-size: 12px;
	line-height: 20px;
	display: inline-block;
	margin-right: 4px;
	transition: color .3s ease;
}
.date-select-ui li:last-child {
	margin: 0;
}
.date-select-ui li:after {
	display: inline-block;
	margin: 0 0 0 3px;
}
.date-select-ui li.year:after {
	content: '年';
}
.date-select-ui li.month:after {
	content: '月';
}
.date-select-ui li.day:after {
	content: '日';
}
.date-select-ui:hover {
	color: #f65f54;
    border-bottom-color: #f65f54;
}
